{% extends "base.html" %}

{% block auth_content %}

<div class="container py-5">

    <div class="card p-5 mx-auto" style="max-width:450px;">

        <h2 class="fw-bold mb-4">
            Forgot Password
        </h2>

        <form method="POST">

            <input type="email"
                   name="email"
                   class="form-control mb-4"
                   placeholder="Enter registered email"
                   required>

            <button type="submit"
                    class="btn btn-primary w-100">

                Send OTP

            </button>

        </form>

    </div>

</div>

{% endblock %}